{% extends 'base.html' %}
{% load static %}

{% block title %}
    Index
{% endblock %}
{% block css %}
{% endblock %}	
{% block body %}
  <main class="container" role="main">
    <h1 class="title">Classic WOW Fire Mage Guide</h1>
    <div class ="row">
<!--Add custom css file to static resources and change the layout of these columns-->
    <div class="col">
    </div>
    </div>
  </main>
<div class = container>
<table class="table">
  <thead>
    <tr>
       1
       <th>2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>3</td>
    </tr>
  </tbody>
</table>
</div>
{% endblock %}
